body {
    font-family: 'Josefin Sans';
    /* background-image: url('https://w0.peakpx.com/wallpaper/281/157/HD-wallpaper-neon-circle-blue-glow-graphic-light-blue.jpg');  */
    background-size: cover;
    
}
.signup-form {
    color: white;
}